/**
* @author antonio Jimenez (antji996) cedric Lallemand (cedla736)
* @version 0.1
*/
.margin{
	margin-top:3%;
}

.header_welcomeview{
	width: 100%;
    height: 150px;
    background-color: #083b66;
}

.header_welcomeview_left{
	float: left;
	height: 150px;
	width: 150px;
}
.header_welcomeview_right{
	float: right;
	padding-top: 8%;
	height: 150px;
	width: 600px;
}

.header_welcomeview_right_form{
	padding-right: 5%;
}













#browseDataUser{
	display: none;
}

#drag1{
	width:80px;
	height:80px;
	margin-right:50px;
}

#Display_thumb{
	display: inline-flex;
    border: none;
}

#dropper {
	width: 100px;
    height: 100px;
	padding:10px;
	border:1px solid #aaaaaa;
}


/*profile*/
#home{

	margin-left: auto;
    margin-right: auto;
	display:block;
}
#browse{

	margin-left: auto;
    margin-right: auto;
	display:none;
}
#perfil{

	margin-left: auto;
    margin-right: auto;
	display:none;
}

#incidence{
	margin-left: auto;
    margin-right: auto;
	display:none;
}

.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 7px 11px;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}

.navbar-inverse{
	background-color: #083b66;
}

.navbar-inverse .navbar-nav>li>a {
  color: #FFFFFF;
}



.localIncidence{
	background-color: rgb(116, 207, 234);
	border-radius: 10px;
	padding: 1%;
	margin: 2%;
}
