/**
* @author antonio Jimenez (softwarejimenez)
* @version 0.1
*/

/*////////////////////////////////////////////////////////////////
*college VIEW
////////////////////////////////////////////////////////////////*/
#college_list_rooms{
	margin-left: auto;
    margin-right: auto;
	display:block;
}
#college_create_room{
	margin-left: auto;
    margin-right: auto;
	display:block;
}
/*////////////////////////////////////////////////////////////////
*List of rooms
////////////////////////////////////////////////////////////////*/
#college_table_list_rooms{
	margin-left: 5%;
	margin-right: 5%;
	height: 550px;
	margin-bottom: 5%;
	overflow-y: auto;
}
/*////////////////////////////////////////////////////////////////
*college_room_specific
////////////////////////////////////////////////////////////////*/

#college_room_specific_slider_img{
	width: 230px;
	height: 200px;
	overflow: hidden;
	position: relative;
	margin: 10px 0 0 0;
	border-radius: 21px;
  	border-color: rgb(150, 172, 219);

}

/*////////////////////////////////////////////////////////////////
*create new room
////////////////////////////////////////////////////////////////*/
#div_form_college_create_new_room{
	margin-left: 4%;
  	margin-right: 4%;
}
