/**
* @author antonio Jimenez (softwarejimenez)
* @version 0.1
*/

/*////////////////////////////////////////////////////////////////
*Responsive desing
////////////////////////////////////////////////////////////////*/
@media only screen and (max-width: 768px) {
    .responsive_margin_button{
        margin-bottom: 160px;
    }
}

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    table {
        margin-bottom: 155px !important;
    }
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
    Label the data
    */

    #table_Agreement td:nth-of-type(1):before { content: "Habitacion"; }
    #table_Agreement td:nth-of-type(2):before { content: "Residencia"; }
    #table_Agreement td:nth-of-type(3):before { content: "Precio"; }
    #table_Agreement td:nth-of-type(4):before { content: "Contrato"; }
    #table_Agreement td:nth-of-type(5):before { content: "Fecha inicio"; }
    #table_Agreement td:nth-of-type(6):before { content: "Fecha fin"; }
    #table_Agreement td:nth-of-type(7):before { content: "Firmar"; }
    #table_Agreement td:nth-of-type(8):before { content: "Rechazar"; }

    #table_rent td:nth-of-type(1):before { content: "mes"; }
    #table_rent td:nth-of-type(2):before { content: "año"; }
    #table_rent td:nth-of-type(3):before { content: "precio"; }
    #table_rent td:nth-of-type(4):before { content: "Fecha pago"; }
    #table_rent td:nth-of-type(5):before { content: "recibo"; }
    #table_rent td:nth-of-type(6):before { content: "pagar"; }

    #college_profile_table_responsiblePerson td:nth-of-type(1):before { content: "DNI"; }
    #college_profile_table_responsiblePerson td:nth-of-type(2):before { content: "Email"; }
    #college_profile_table_responsiblePerson td:nth-of-type(3):before { content: "Nombre"; }
    #college_profile_table_responsiblePerson td:nth-of-type(4):before { content: "Trabajo"; }
    #college_profile_table_responsiblePerson td:nth-of-type(5):before { content: "Eliminar"; }

    #college_profile_table_bank td:nth-of-type(1):before { content: "IBAN"; }
    #college_profile_table_bank td:nth-of-type(2):before { content: "BIC"; }
    #college_profile_table_bank td:nth-of-type(3):before { content: "Propietario"; }
    #college_profile_table_bank td:nth-of-type(4):before { content: "Activar"; }
    #college_profile_table_bank td:nth-of-type(5):before { content: "Eliminar"; }

    #college_table_list_rooms td:nth-of-type(1):before { content: "nombre"; }
    #college_table_list_rooms td:nth-of-type(2):before { content: "tamaño"; }
    #college_table_list_rooms td:nth-of-type(3):before { content: "planta"; }
    #college_table_list_rooms td:nth-of-type(4):before { content: "precio"; }
    #college_table_list_rooms td:nth-of-type(5):before { content: "television"; }
    #college_table_list_rooms td:nth-of-type(6):before { content: "baño"; }
    #college_table_list_rooms td:nth-of-type(7):before { content: "escritorio"; }
    #college_table_list_rooms td:nth-of-type(8):before { content: "armario"; }
    #college_table_list_rooms td:nth-of-type(9):before { content: "Eliminar"; }

    #college_table_list_students td:nth-of-type(1):before { content: "nombre"; }
    #college_table_list_students td:nth-of-type(2):before { content: "DNI"; }
    #college_table_list_students td:nth-of-type(3):before { content: "email"; }
    #college_table_list_students td:nth-of-type(4):before { content: "habitacion"; }
    #college_table_list_students td:nth-of-type(5):before { content: "fecha inicio"; }
    #college_table_list_students td:nth-of-type(6):before { content: "fecha fin"; }

    #college_student_specific_table_rent td:nth-of-type(1):before { content: "mes"; }
    #college_student_specific_table_rent td:nth-of-type(2):before { content: "año"; }
    #college_student_specific_table_rent td:nth-of-type(3):before { content: "precio"; }
    #college_student_specific_table_rent td:nth-of-type(4):before { content: "Fecha pago"; }
    #college_student_specific_table_rent td:nth-of-type(5):before { content: "recibo"; }
}

.body {
    font-family: 'Open Sans', sans-serif !important;
}


/*////////////////////////////////////////////////////////////////
*WELCOME VIEW header
////////////////////////////////////////////////////////////////*/

.margin_top {
    margin-top: 3%;
}

.header_welcomeview {
    background-color: #083b66;
    overflow: auto;
}

.header_welcomeview_left {
    float: left;
}

.img_header_welcomeview_left {
    height: 150px;
    width: 150px;
}

.header_welcomeview_right {
    float: right;
    padding-top: 6%;
    padding-right: 2%;
}

.header_welcomeview_right_slogan {
    font-size: 17.5px;
    padding-top: 4%;
    color: white;
}

.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 7px 11px;
    text-transform: uppercase;
    border-color: #59B2E6;
}

.btn-login:hover, .btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}

.button_login_student {
    width: 50%;
    margin-bottom: 2%;
    float: left;
    margin-right: 1%;
}

.button_login_college {
    width: 45%;
    margin-bottom: 2%;
    float: right;
    margin-left: 1%;
}

#register_form_college {
    display: none;
}

.error_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    text-align: center;
}

#map {
    height: 100%;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#college_equipment {
    text-align: center;
    margin: 4%;
}

thead {
    background-color: rgb(51, 122, 183);
    color: white;
}


/*////////////////////////////////////////////////////////////////
*WELCOME VIEW container
////////////////////////////////////////////////////////////////*/

#container_welcome_view_login {
    display: none;
}

#container_welcome_view_register {
    display: none;
}

.slogan {
    font-family: initial;
    font-size: xx-large;
    margin-top: 5%;
    font-style: italic;
    font-weight: bold;
}

#container_welcome_view_search_room_table_map {
    margin-top: 5%;
    width: 80%;
    height: 287px;
    margin-left: 10%;
    margin-bottom: 15px;
    background-color: grey;
}

.container_welcome_view_table_search_room {
    margin: 1%;
    height: 410px;
    overflow-y: auto;
}


/*////////////////////////////////////////////////////////////////
*Footer
////////////////////////////////////////////////////////////////*/

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #444444;
    color: white;
}

.footer_element {
    cursor: pointer;
    text-align: center;
    margin: auto;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.footer_full_element {
    z-index: 9999999;
    height: 75%;
    width: 75%;
    background: #271e1e;
    position: absolute;
    bottom: 0;
    top: 0;
    padding: 2%;
    margin: 10%;
    overflow: scroll;
    color: white;
}

.button_footer_full_element {
    margin-left: 90%;
    font-size: x-large;
    border: none;
    background-color: transparent;
}

.class_h4{
    font-size: 18px;
}

/*////////////////////////////////////////////////////////////////
*FAQ
////////////////////////////////////////////////////////////////*/

.faqHeader {
    font-size: 27px;
    margin: 20px;
}

.panel-heading [data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    content: "e072";
    /* "play" icon */
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #454444;
}
